<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <base th:href="${#request.getContextPath()+'/'}"/>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript">
        /*
        *登录认证
        */
        $(function () {
            $.ajax({
                url:"http://localhost:8085/login/isLogin",
                dataType:"jsonp",
            });
        })
        
        function callback(data) {
            if (data != undefined && data != "") {
                $("#usernameLB").html(data.username+"<a href='http://localhost:8085/login/logout'>注销</a>");
            }
        }
        
        function login() {
            debugger;
            var url = location.href;
            //用于对汉字进行转成unicode,避免乱码
            var encodeURI = escape(url);
             encodeURI.replace('&', '*');
            location.href = "http://localhost:8084/userRedis/lgin?lookUrl="+encodeURI;
        }
    </script>
</head>

<body>
    <h1  style="width: 300px;margin: 0 auto;">欢迎加入<span id="usernameLB"></span></h1>
    <a href="/userRedis/AddUser">新增</a>
    <a href="/userRedis/List">列表</a>
    <a href="javascript:login()">登录</a>
    <a href="http://localhost:8088/shop/cart">添加购物车</a>
    <a href="http://localhost:8088/shop/queryCart">商品列表</a>
    <a href="http://localhost:8088/order/orderList">订单</a>
    <a href="http://localhost:8090/miaosha/redisMiaosha">秒杀</a>
</body>

</html>