<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />

</head>

<body>
<!--get请求可以把搜索的参数也传递过去,用于回到之前的搜素页面-->
    <form action="http://localhost:8085/login/login" method="get">
        <input type="hidden" name="lookUrl" th:value="${lookUrl}"/>
        账号<input type="text" name="username"></br>
        密码<input type="text" name="password">
        <input type="submit" value="提交">
    </form>
</body>

</html>